In [1]:
import numpy as np
import pandas as pd

In [14]:
class MesosStats:
    def __init__(self):
        self.mesos = 0
        self.incomes = []
        
    def add(self, price, amount=None, name=None):
        self.incomes.append({
            "name": name,
            "price": price,
            "amount": amount,
            "total": price * amount
        })
        
    def table(self, current_mesos=0):
        rows = []
        
        for income in self.incomes:
            rows.append({
                'Name': income['name'],
                "Price": income['price'].__format__(','),
                "Amount": income['amount'].__format__(','),
                'Total': income['total'].__format__(',')
            })
            
        rows.append({
                'Name': 'Total',
                'Total': self.total.__format__(',')
            })
        if current_mesos != 0:
            rows.append({
                    'Name': 'Current + Total',
                    'Total': (self.total + current_mesos).__format__(',')
                })
            
        return pd.DataFrame(rows)

    @property
    def total(self):
        return sum(map(lambda x: x['total'], self.incomes))
    
    def __str__(self):
        return self.total.__format__(",")
    def __repr__(self):
        return self.__str__()

In [15]:
# Selling
mesos = MesosStats()

# Spell Trace
mesos.add(5000, 9000 + 9000 + 7676, name='Spell Trace')

# Cubic Blade
mesos.add(489998, 27, name='Cubic Blade')

# Cubic Chaos Blade
mesos.add(11900000, 8, name='Cubic Chaos Blade')

# Unrelenting Flame
mesos.add(1299999, 32, name='Unrelenting Flame')

# Forever Unrelenting Flame
mesos.add(10999996, 10, name='Forever Unrelenting Flame')

# Clean Slate Scroll 5%
mesos.add(5999999, 1, name='Clean Slate Scroll 5%')

# Clean Slate Scroll 10%
mesos.add(16999999, 3, name='Clean Slate Scroll 10%')

# Potential Scroll
mesos.add(289999, 7, name='Potential Scroll')

# Chaos Scroll 60%
mesos.add(399999, 5, name='Chaos Scroll 60%')

# Eternal Rebirth Flame
mesos.add(64999999, 1, name='Eternal Rebirth Flame')

mesos.table(530873100)

                         Name       Price  Amount          Total
0                 Spell Trace       5,000  25,676    128,380,000
1                 Cubic Blade     489,998      27     13,229,946
2           Cubic Chaos Blade  11,900,000       8     95,200,000
3           Unrelenting Flame   1,299,999      32     41,599,968
4   Forever Unrelenting Flame  10,999,996      10    109,999,960
5       Clean Slate Scroll 5%   5,999,999       1      5,999,999
6      Clean Slate Scroll 10%  16,999,999       3     50,999,997
7            Potential Scroll     289,999       7      2,029,993
8            Chaos Scroll 60%     399,999       5      1,999,995
9       Eternal Rebirth Flame  64,999,999       1     64,999,999
10                      Total         NaN     NaN    514,439,857
11            Current + Total         NaN     NaN  1,045,312,957

In [19]:
# Selling
mesos = MesosStats()

# Lucid soul
mesos.add(1.1 * 10 ** 9, 1, "Lucid Soul")

# Drop rate
mesos.add(2.7 * 10 ** 9, 1, "Blackgate Ring (Drop rate)")

# Print table
mesos.table()

                         Name            Price Amount            Total
0                  Lucid Soul  1,100,000,000.0      1  1,100,000,000.0
1  Blackgate Ring (Drop rate)  2,700,000,000.0      1  2,700,000,000.0
2                       Total              NaN    NaN  3,800,000,000.0